<odoo>
  <record id="action_hr_travel_request" model="ir.actions.act_window">
    <field name="name">Demandes</field>
    <field name="res_model">hr.travel.request</field>
    <field name="view_mode">tree,form</field>
    <field name="domain">[]</field>
    <field name="context">{}</field>
    <field name="search_view_id" ref="view_hr_travel_request_search"/>
  </record>

  <record id="action_hr_travel_request_my_requests" model="ir.actions.act_window">
    <field name="name">Mes demandes</field>
    <field name="res_model">hr.travel.request</field>
    <field name="view_mode">tree,form</field>
    <field name="domain">[('employee_id.user_id', '=', uid)]</field>
    <field name="context">{}</field>
    <field name="search_view_id" ref="view_hr_travel_request_search"/>
  </record>

  <record id="action_all_supply_requests" model="ir.actions.act_window">
    <field name="name">Demandes fournitures</field>
    <field name="res_model">hr.supply.request</field>
    <field name="view_mode">tree,form</field>
    <field name="domain">[]</field>
    <field name="context">{}</field>
    <field name="search_view_id" ref="view_hr_supply_request_search"/>
  </record>

  <record id="action_my_supply_requests" model="ir.actions.act_window">
    <field name="name">Mes demandes fournitures</field>
    <field name="res_model">hr.supply.request</field>
    <field name="view_mode">tree,form</field>
    <field name="domain">[('employee_id.user_id', '=', uid)]</field>
    <field name="context">{'search_default_my_requests': 1}</field>
    <field name="search_view_id" ref="view_hr_supply_request_search"/>
  </record>

  <record id="action_my_attestation_requests" model="ir.actions.act_window">
    <field name="name">Mes demandes d'attestations</field>
    <field name="res_model">hr.attestation.request</field>
    <field name="view_mode">tree,form</field>
    <field name="domain">[('employee_id.user_id', '=', uid)]</field>
    <field name="context">{'search_default_my_requests': 1}</field>
    <field name="search_view_id" ref="view_hr_attestation_request_search"/>
    <field name="groups_id" eval="[(6, 0, [ref('portail_rh.group_portail_rh_employee')])]"/>
  </record>

  <record id="action_all_attestation_requests" model="ir.actions.act_window">
    <field name="name">Demandes d'attestations</field>
    <field name="res_model">hr.attestation.request</field>
    <field name="view_mode">tree,form</field>
    <field name="domain">[]</field>
    <field name="context">{}</field>
    <field name="search_view_id" ref="view_hr_attestation_request_search"/>
    <field name="groups_id" eval="[(6, 0, [ref('portail_rh.group_portail_rh_hr')])]"/>
  </record>

  <menuitem
    id="menu_portail_rh_root"
    name="Portail RH"
    action="action_hr_travel_request"
    sequence="5"
    web_icon="portail_rh,static/description/icon.png"
    groups="base.group_user"
  />

  <menuitem
    id="menu_portail_rh_travel_root"
    name="Déplacements"
    parent="menu_portail_rh_root"
    sequence="20"
    groups="base.group_user"
  />

  <menuitem
    id="menu_hr_travel_request"
    name="Demandes"
    parent="menu_portail_rh_travel_root"
    action="action_hr_travel_request"
    sequence="10"
    groups="base.group_user"
  />

  <menuitem
    id="menu_hr_travel_request_my_requests"
    name="Mes demandes"
    parent="menu_portail_rh_travel_root"
    action="action_hr_travel_request_my_requests"
    sequence="15"
    groups="portail_rh.group_portail_rh_employee"
  />

  <menuitem
    id="menu_portail_rh_supply_root"
    name="Fournitures"
    parent="menu_portail_rh_root"
    sequence="30"
    groups="portail_rh.group_portail_rh_employee,portail_rh.group_portail_rh_manager,portail_rh.group_portail_rh_hr"
  />

  <menuitem
    id="menu_hr_supply_request"
    name="Demandes"
    parent="menu_portail_rh_supply_root"
    action="action_all_supply_requests"
    sequence="10"
    groups="portail_rh.group_portail_rh_manager,portail_rh.group_portail_rh_hr"
  />

  <menuitem
    id="menu_hr_supply_request_my_requests"
    name="Mes demandes"
    parent="menu_portail_rh_supply_root"
    action="action_my_supply_requests"
    sequence="20"
    groups="portail_rh.group_portail_rh_employee"
  />

  <menuitem
    id="menu_portail_rh_attestation_root"
    name="Attestations"
    parent="menu_portail_rh_root"
    sequence="40"
    groups="portail_rh.group_portail_rh_employee,portail_rh.group_portail_rh_hr"
  />

  <menuitem
    id="menu_hr_attestation_request_my_requests"
    name="Mes demandes"
    parent="menu_portail_rh_attestation_root"
    action="action_my_attestation_requests"
    sequence="10"
    groups="portail_rh.group_portail_rh_employee"
  />

  <menuitem
    id="menu_hr_attestation_request"
    name="Demandes"
    parent="menu_portail_rh_attestation_root"
    action="action_all_attestation_requests"
    sequence="20"
    groups="portail_rh.group_portail_rh_hr"
  />

  <menuitem
    id="menu_portail_rh_onboarding_root"
    name="Integration"
    parent="menu_portail_rh_root"
    sequence="50"
    groups="portail_rh.group_portail_rh_manager,portail_rh.group_portail_rh_hr"
  />

  <menuitem
    id="menu_hr_onboarding_document"
    name="Documents"
    parent="menu_portail_rh_onboarding_root"
    action="action_hr_onboarding_document"
    sequence="10"
    groups="portail_rh.group_portail_rh_hr"
  />

  <menuitem
    id="menu_hr_onboarding_plan"
    name="Plans"
    parent="menu_portail_rh_onboarding_root"
    action="action_hr_onboarding_plan"
    sequence="20"
    groups="portail_rh.group_portail_rh_hr"
  />

  <menuitem
    id="menu_hr_onboarding_employee_task"
    name="Checklists"
    parent="menu_portail_rh_onboarding_root"
    action="action_hr_onboarding_employee_task"
    sequence="30"
    groups="portail_rh.group_portail_rh_manager,portail_rh.group_portail_rh_hr"
  />
</odoo>
