<odoo>
  <record id="module1_action_my_model" model="ir.actions.act_window">
    <field name="name">My Records</field>
    <field name="res_model">my.model</field>
    <field name="view_mode">tree,form</field>
  </record>

  <menuitem
    id="module1_menu_root"
    name="Module 1"
    sequence="10"
    web_icon="module1,static/description/icon.png"
  />
  <record id="module1_menu_my_model" model="ir.ui.menu">
    <field name="name">My Records</field>
    <field name="parent_id" ref="module1_menu_root"/>
    <field name="action" ref="module1_action_my_model"/>
    <field name="sequence">10</field>
  </record>
</odoo>
