<odoo>
  <menuitem
    id="menu_portail_rh_root"
    name="Portail RH"
    sequence="5"
    web_icon="portail_rh_core,static/description/icon.png"
    groups="base.group_user"
  />

  <menuitem
    id="menu_portail_rh_config"
    name="Parametres"
    parent="menu_portail_rh_root"
    sequence="99"
    groups="base.group_system"
  />
</odoo>
